body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "M PLUS Rounded 1c", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  background-image: radial-gradient(aliceblue 20%, transparent 20%),
    radial-gradient(lavender 20%, transparent 20%);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}
